<h1>Movies</h1>

<ul>
  <% @movies.each do |film| %>
  <li><%= link_to "#{film.title} (#{film.year})", film %></li>
  <% end %>
</ul>

<p>
<%= link_to "Add movie", new_movie_path %>
</p>

<p>
	<%= link_to "Back", site_index_path %>
</p>
